<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/adminpage.css">
    <script type="text/javascript" src="/admin/responsedata.js"></script>
    <title>SMUMH Survey Responses</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
</head>
<body onload="loadPage();addListeners();">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container px-5">
            <a class="navbar-brand" href="/">
                <img src="../assets/ProvoSMUMHLogoInner.png" class='icon-img' style="width: 50px;"><!--<img src="assets/image.png" class="icon-img" style="width:160px;">-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Learn More</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00a0e089;">
        <div class="container px-3">
            <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-top: 10px; font-weight: bold; color: white;">Admin Tools</h5>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a id="viewSurveyButton" class="nav-link subbar" style="color:white" onclick="showSurveyData()">View Survey Data</a></li>
                    <li class="nav-item"><a id="viewUsersButton" class="nav-link subbar" style="color:white" onclick="showAdminManage()">Manage Users</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div id="manageUsers" class="test-div" style="margin-bottom: 18%;">
        <table class="table table-striped table-bordered table-hover" style="width: 25%;">
            <thead>
                <tr>
                    <th style="text-align: left;">Username</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let iCount=0; iCount < users.length; iCount++) { %>
                    <tr>
                        <td style="text-align: center;">
                            <%= users[iCount].Username %>
                        </td>
                        <td style="text-align: center; width: 10%; height: 10%;">
                            <button style="padding: 2px" type="submit" onclick="deleteUser('<%= users[iCount].Username%>')">Delete</button>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <br>
        <button type="submit" onclick="showAdminCreate()">Add User</button>
    </div>
    <div id="createUser" class="test-div">
        <form action="/createUser" method="post" onsubmit="return checkPassword()">
            <legend style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold;">Create new admin user:</legend>
            <!-- Username Field -->
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" minlength="3" maxlength="30" required>
            <br>
            <!-- Password Field with Toggle -->
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" minlength="3" maxlength="30" required>
            <br>
            <!-- Confirm Password Field with Toggle -->
            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" id="confirmPassword" name="confirmPassword" minlength="3" maxlength="30" required>

            <div style="display: flex; flex-direction: row;">
                <input style="width: 10%" id="showPasswords" type="checkbox" onchange="togglePassword('password'); togglePassword('confirmPassword')">
                <label for="showPasswords" style="width: 90%;">Show Passwords</label>
            </div>
            <!-- Submit Button note-->
            <button class="submit-button" type="button" onclick="registerUser()">Create User</button>
        </form>
        <br><br><br>
    </div>
    <div id="showTable">
        <div style="margin-left: 40px; margin-bottom: 15px;">
            <button type="button" onclick="changePage(currentPage - 1)" style="padding: 6px; font-size: small;">PREVIOUS</button>
            <button type="button" onclick="changePage(currentPage + 1)" style="padding: 6px; font-size: small;">NEXT</button>
            <button type="button" id="showAllButton" onclick="showAllRows()" style="padding: 6px; font-size: small;">SHOW ALL</button>
            <form id="searchForm" action="searchResponses" method="get">
                <input type="text" id="responseSearchBar" name="searchText" placeholder="Search...">
                <button type="submit" id="responseSearchButton" style="padding: 6px; font-size: small;">SEARCH</button>
            </form>
        </div>
        <table id="surveyTable" class="table table-striped table-bordered table-hover" style="width:95%; margin: auto; margin-bottom: 40px;">
            <thead>
                <tr style="font-size: smaller;">
                    <th>ID</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Relationship</th>
                    <th>Occupation</th>
                    <th>Organization Types</th>
                    <th>Uses Social Media</th>
                    <th>Social Media Platforms</th>
                    <th>Average Time Spent</th>
                    <th>Q9</th>
                    <th>Q10</th>
                    <th>Q11</th>
                    <th>Q12</th>
                    <th>Q13</th>
                    <th>Q14</th>
                    <th>Q15</th>
                    <th>Q16</th>
                    <th>Q17</th>
                    <th>Q18</th>
                    <th>Q19</th>
                    <th>Q20</th>
                </tr>
            </thead>
            <tbody>
                <% for (let iCount = 0; iCount < responses.length; iCount++) { %>
                    <tr class="page-<%= Math.floor(iCount / 25) %> response-page" id="response-<%= responses[iCount].ResponseID %>" onclick="selectOneRow('<%= responses[iCount].ResponseID %>'); showSingleResponseBox('<%= responses[iCount].Age %>','<%= responses[iCount].Gender %>','<%= responses[iCount].RelationshipStatus %>','<%= responses[iCount].OccupationStatus %>','<%= responses[iCount].Age %>','<%= responses[iCount].UseSocial %>','<%= responses[iCount].Age %>','<%= responses[iCount].AvgTimePerDay %>','<%= responses[iCount].Q9 %>','<%= responses[iCount].Q10 %>','<%= responses[iCount].Q11 %>','<%= responses[iCount].Q12 %>','<%= responses[iCount].Q13 %>','<%= responses[iCount].Q14 %>','<%= responses[iCount].Q15 %>','<%= responses[iCount].Q16 %>','<%= responses[iCount].Q17 %>','<%= responses[iCount].Q18 %>','<%= responses[iCount].Q19 %>','<%= responses[iCount].Q20 %>')">
                      <td><%= responses[iCount].ResponseID %></td>  
                      <td><%= responses[iCount].Age %></td>
                      <td><%= responses[iCount].Gender %></td>
                      <td><%= responses[iCount].RelationshipStatus %></td>
                      <td><%= responses[iCount].OccupationStatus %></td>
                      <td><%= responses[iCount].Occupations %></td>
                      <td style="text-align: center;"><%= responses[iCount].UseSocial ? 'Yes' : 'No'; %></td>
                      <td><%= responses[iCount].SocialMediaPlatforms %></td>
                      <td style="text-align: center;"><%= responses[iCount].AvgTimePerDay %></td>
                      <% for (let questionIndex = 9; questionIndex <= 20; questionIndex++) { %>
                      <td style="text-align: center;">
                        <%= responses[iCount][`Q${questionIndex}`] %>
                      </td>
                      <% } %>
                    </tr>
                 <% } %>
            </tbody>
        </table>
    </div>
    <div id="showSingleResponse" class="test-div">
        <form style="max-width: 800px;">
            <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold;">Survey Response Details</h2>
            <div class="response-content">
                <div class="response-column">
                    <div class="response-item">
                        <label for="age">Age:</label>
                        <span id="age"></span>
                    </div>
                    <br>
                    <div class="response-item">
                        <label for="gender">Gender:</label>
                        <span id="gender"></span>
                    </div>
                    <br>
                    <div class="response-item">
                        <label for="relationshipStatus">Relationship Status:</label>
                        <span id="relationshipStatus"></span>
                    </div>
                    <br>
                    <div class="response-item">
                        <label for="occupationStatus">Occupation Status:</label>
                        <span id="occupationStatus"></span>
                    </div>
                    <br>
                </div>
                <div class="response-column">
                    <div class="response-item">
                        <label for="affiliatedOrganizations">Affiliated Organizations:</label>
                        <span id="affiliatedOrganizations"></span>
                    </div>
                    <br>
                    <div class="response-item">
                        <label for="useSocialMedia">Do you use social media?:</label>
                        <span id="useSocialMedia"></span>
                    </div>
                    <br>
                    <div class="response-item">
                        <label for="socialMediaPlatforms">Social Media Platforms:</label>
                        <span id="socialMediaPlatforms"></span>
                    </div>
                    <br>
                    <div class="response-item">
                        <label for="timePerDay">Time Spent Per Day:</label>
                        <span id="timePerDay"></span>
                    </div>
                    <br>
                    <!-- Add other fields as needed -->
                </div>
            </div>
            <div class="response-item">
                <label for="Q9">How often do you find yourself using social media without a specific purpose?</label>
                <span id="Q9"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q10">How often do you get distracted by social media when you are busy doing something?</label>
                <span id="Q10"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q11">Do you feel restless if you haven’t used social media in a while?</label>
                <span id="Q11"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q12">How easily distracted are you?</label>
                <span id="Q12"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q13">How much are you bothered by worries?</label>
                <span id="Q13"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q14">Do you find it difficult to concentrate on things?</label>
                <span id="Q14"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q15">How often do you compare yourself to other successful people through the use of social media?</label>
                <span id="Q15"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q16">Following the previous question, how do you feel about these comparisons, generally speaking?</label>
                <span id="Q16"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q17">How often do you look to seek validation from features of social media?</label>
                <span id="Q17"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q18">How often do you feel depressed or down?</label>
                <span id="Q18"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q19">How frequently does your interest in daily activities fluctuate?</label>
                <span id="Q19"></span>
            </div>
            <br>
            <div class="response-item">
                <label for="Q20">How often do you face issues regarding sleep?</label>
                <span id="Q20"></span>
            </div>
            <br>
            <button type="button" id="closeBoxButton" onclick="showAllRows()">Close</button>
        </form>
        <br><br><br>
    </div>
    <!-- Footer-->
    <footer class="py-3" style="background-color: #00a0e089">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white"><a style="color: white;" onmouseover="this.style.color='gray'" onmouseleave="this.style.color='white'"
            href="/login">Employee Login</a>&thinsp; &thinsp; &thinsp; &thinsp; &thinsp;Copyright &copy; Provo City SMUMH 2023</p></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>